<div id="page">
  <div class="flex">
    <div class="contact-box">
      <img src="images/pecho.jpg">
      <div class="contact">
	<h2> Michal Pecho </h2>
	<p>✉️ michalpecho19@gmail.com</p>
	<p><b>Hlavný organizátor</b></p>
      </div>
    </div>

    <div class="contact-box">
      <img src="images/radek.jpg">
      <div class="contact">
	<h2> Radek Olšák </h2>
	<p>✉️ radek@olsak.net</p>
	<p><b>Hlavný organizátor</b></p>
      </div>
    </div>

    <div class="contact-box">
      <img src="images/jolca.jpg">
      <div class="contact">
	<h2> Jolana Štraitová </h2>
	<p>✉️ jol.straitova@gmail.com</p>
      </div>
    </div>

    <div class="contact-box">
      <img src="images/vitek.jpg">
      <div class="contact">
	<h2> Vít Hanika </h2>
	<p>✉️ vit.hanika@gmail.com</p>
      </div>
    </div>
    
    <div class="contact-box">
      <img src="images/patrik.jpg">
      <div class="contact">
	<h2> Patrik Bak </h2>
	<p>✉️ patrik.bak.x@gmail.com</p>
      </div>
    </div>
    
    <div class="contact-box">
      <img src="images/alicka.jpg">
      <div class="contact">
	<h2> Alica Dományová </h2>
      </div>
    </div>

    <div class="contact-box">
      <img src="images/lenka.jpg">
      <div class="contact">
	<h2> Lenka Poljaková </h2>
      </div>
    </div>
    
        <div class="contact-box">
      <img src="images/ema.jpg">
      <div class="contact">
	<h2> Ema Čudaiová </h2>
      </div>
    </div>
    
    <div class="contact-box">
      <img src="images/dzavo.jpg">
      <div class="contact">
	<h2> Adam Džavoronok </h2>
      </div>
    </div>

    <div class="contact-box">
      <img src="images/zdenek.png">
      <div class="contact">
	<h2> Zdeněk Pezlar </h2>
      </div>
    </div>
    
    <div class="contact-box">
      <img src="images/macker.jpg">
      <div class="contact">
	<h2> Martin Šindelář </h2>
      </div>
    </div>
    
    <div class="contact-box">
      <img src="images/novota.jpg">
      <div class="contact">
	<h2> Matej Novota </h2>
      </div>
    </div>
  </div>
</div>
