    <div id="page">
      <div id="page-left">
	<h2> Aktuální ročník </h2>
	<p> Kapacita je pro každou kategorii a místo konání <b>60 týmů.</b></p>

	<p> Soutěž <b>kategorie ZŠ</b> bude probíhat v neděli <b>9.2.2025</b> od <b>11:00 do 16:00 hodin.</b></p>

	<p> Soutěž <b>kategorie SŠ</b> bude probíhat v neděli <b>16.2.2025</b> od <b>11:00 do 16:00 hodin.</b></p>
	
	<p> V <b>Praze</b> se soutěž koná v budově IMPAKT MFF UK na adrese <b>V Holešovičkách 747/2, 180 00 Praha 8.</b>

	<p> V <b>Bratislavě</b> se soutěž koná v budově FMFI UK na adrese <b>Mlynská dolina pavilon F1, 842 48 Bratislava.</b>

	  <h2> Registrace </h2>
	  
	<p>K registraci vyplňte následující formulář. Za každý tým ho vyplňte prosím nejvýše jednou. <b>Registrujte se do 3.2.2025.</b>
	</p>

	<table>
	  <tr>
	    <th colspan="2">Počet registrovaných týmů v Praze</th>
	  </tr>
	  <tr>
	    <td>Základoškoláci</td>
	    <td id="zs-praha-data" class="right"><img class="loader" src="./css-loader.gif"></td>
	  </tr>
	  <tr>
	    <td>Středoškoláci</td>
	    <td id="ss-praha-data" class="right"><img class="loader" src="./css-loader.gif"></td>
	  </tr>
	  <tr>
	    <th colspan="2">Počet registrovaných týmů v Bratislavě</th>
	  </tr>
	  <tr>
	    <td>Základoškoláci</td>
	    <td id="zs-blava-data" class="right"><img class="loader" src="./css-loader.gif"></td>
	  </tr>
	  <tr>
	    <td>Středoškoláci</td>
	    <td id="ss-blava-data" class="right"><img class="loader" src="./css-loader.gif"></td>
	  </tr>
	</table>
	<script>
	  const csvUrl = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTCtLFel5a4IrXiGeM64cBNZvl83XJNhcEF85RubgM3I00_fpB1i5h9jfqGPcGs3SRWapLnmTDYDM1T/pub?gid=351869279&single=true&output=csv";

	  function fetchSheetData() {
	      fetch(csvUrl, {cache: "no-store"})
		  .then((response) => {
		      if (!response.ok) {
			  throw new Error("Network response was not ok");
		      }
		      return response.text();
		  })
		  .then((csv) => {
            
			const values = csv.trim().split("\n").map((row) => {
				const stringValue = row.split(",")[0];
                const intValue = parseInt(stringValue, 10);
				// The exact values < 15 are hidden 🙃
                return intValue < 15 ? "< 15" : intValue;
            });

            document.getElementById("zs-praha-data").innerHTML = values[0];
            document.getElementById("zs-blava-data").innerHTML = values[1];
            document.getElementById("ss-praha-data").innerHTML = values[2];
            document.getElementById("ss-blava-data").innerHTML = values[3];
		  })
		  .catch((error) => {
		      console.error("Error fetching sheet data:", error);
		  });
	  }
	  fetchSheetData();
	</script>
      </div>
      <div class="center">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeSALXc3yUHDUog1lp-fcNrcKDi3TT_vbw8FcSgJi2c8tq6fw/viewform?embedded=true"></iframe>
      </div>
    </div>
